/*background color for index.html*/
* {
    background-color:#2F2F2F
}

/*font color for index.html*/
* {
    color: #f2f3f4
}

div {
    color:#AED6F1 
}

/*font for all text*/
h1,
h2,
p,
div {
    font-family:'Courier New', Courier, monospace
}

/*indentation for header 1*/
h1 {
    text-indent: 1%;
}

/*indentation for header 2*/
h2 {
    text-indent: 1.5%;
}

/*indentation, probably strictly for links on the index page*/
p {
    text-indent: 3%;
}

/*url color after the user has clicked the link*/
a:visited {
    color:yellow;
}
