/*background color for index.html*/
* {
    background-color:black
}

/*font color for index.html*/
* {
    color: #f2f3f4
}

div {
    color:#AED6F1 
}

/*font for all text*/
h1,
h2,
p,
div {
    font-family:'Times New Roman', Times, serif
}

p,
ul {
    font-size:larger;
}

p,
h2,
ul {
    margin-left: 18%;
    margin-right: 18%;
}

/*indentation for header 1*/
h1 {
    text-indent: 1%;
}

/*indentation, probably strictly for links on the index page*/
p {
    text-indent: 3%;
}

a:link {
    color:azure;
}

a:hover { 
    color:azure;
}

/*url color after the user has clicked the link*/
a:visited {
    color:#A6ACAF;
}
